body {
  background-image: url("images/Background-picture.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  color: black;
}
.introduction {
  text-align: center;
}
h2 {
  font-size: 150%;
}
span {
  font-size: large;
}
@media (min-width: 768px) {
  .container {
    max-width: 750px;
    margin: auto;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
